# dependencies
node_modules/

# environment variables
.env
.env.*

# logs
logs.txt
*.log

# python cache
__pycache__/

# build output
dist/
build/

# Docker volumes / local data
pgdata/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# system
*.swp