version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: log-db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: logs
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  grafana:
    image: grafana/grafana
    container_name: log-grafana
    restart: always
    ports:
      - "3001:3000"
    depends_on:
      - postgres
    volumes:
      - grafana-data:/var/lib/grafana

volumes:
  pgdata:
  grafana-data: